<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="languageassistant:item" type="DeanOBrien.Feature.LanguageAssistant.Commands.LanguageAssistantCommand,DeanOBrien.Feature.LanguageAssistant"/>
    </commands>
    <settings>
      <setting name="LanguageAssistantURL" value="/sitecore/shell/sitecore/client/applications/languageassistant/" />
    </settings>
    <pipelines>
      <initialize>
        <processor type="DeanOBrien.Feature.LanguageAssistant.Pipelines.RegisterCustomRoute,DeanOBrien.Feature.LanguageAssistant" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
      </initialize>
    </pipelines>
    <services>
      <configurator type="DeanOBrien.Feature.LanguageAssistant.Configurator.ServicesConfigurator, DeanOBrien.Feature.LanguageAssistant" />
    </services>
  </sitecore>
</configuration>